.header {
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 5rem;
  width: calc(100% - 10rem);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} 

.logo h1 {
  color: #333;
  font-size: 1.8rem;
}

.logo a {
  text-decoration: none;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #646cff;
}


@media screen and (max-width: 1024px) {
  .header {
    margin: 2rem;
    width: calc(100% - 4rem);
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    width: calc(100% - 2rem);
  }

  .logo {
    height: 4em;
    padding: 1em;
    margin-bottom: 1rem;
  }

  .logo h1 {
    font-size: 1.5rem;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .header {
    margin: 0.5rem;
    width: calc(100% - 1rem);
    border-radius: 5px;
  }

  .logo {
    height: 3em;
    padding: 0.5em;
  }

  .logo h1 {
    font-size: 1.2rem;
  }

  .nav ul {
    gap: 0.5rem;
  }
} 